@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts/stylesheet.css');

body {
  font-family: 'Pretendard'; 
}

@keyframes circle1 {
  from{
    transform:rotate(360deg)
              translate(-165px)
              rotate(-360deg);
  }
  33%{
    transform:rotate(240deg)
              translate(-165px)
              rotate(-240deg);
  }
  66%{
    color: #4AAA5F;
    font-size: 40px;
    font-weight: 700;
    transform:rotate(120deg)
              translate(-165px)
              rotate(-120deg);
  }
  to{
    transform:rotate(0deg)
              translate(-165px)
              rotate(0deg);
  }
}

@keyframes circle2 {
  from{
    color: #4AAA5F;
    font-size: 40px;
    font-weight: 700;
    transform:rotate(120deg)
              translate(-165px)
              rotate(-120deg);
  }
  33%{
    transform:rotate(0deg)
              translate(-165px)
              rotate(0deg);
  }
  66%{
    transform:rotate(-120deg)
              translate(-165px)
              rotate(120deg);
  }
  to{
    transform:rotate(-240deg)
              translate(-165px)
              rotate(240deg);
  }
}

@keyframes circle3 {
  from{
    transform:rotate(240deg)
              translate(-165px)
              rotate(-240deg);
  }
  33%{
    color: #4AAA5F;
    font-size: 40px;
    font-weight: 700;
    transform:rotate(120deg)
              translate(-165px)
              rotate(-120deg);
  }
  66%{
    transform:rotate(0deg)
              translate(-165px)
              rotate(0deg);
  }
  to{
    transform:rotate(-120deg)
              translate(-165px)
              rotate(120deg);
  }
}

@keyframes rotate1 {
  from { transform: rotate(270deg); }
  to { transform: rotate(-90deg); }
}

@keyframes rotate2 {
  from { transform: rotate(30deg); }
  to { transform: rotate(-330deg); }
}

@keyframes rotate3 {
  from { transform: rotate(150deg); }
  to { transform: rotate(-210deg); }
}

@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
#guideFlip div:first-child {
  -webkit-animation: showGuide 10s linear infinite;
  animation: showGuide 10s linear infinite;
}

@keyframes showGuide {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

