@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./fonts/stylesheet.css');

body {
  font-family: 'Pretendard'; 
}

@keyframes circleText2 {
  0%, 24%{
    transform:rotate(330deg)
              translate(-135px)
              rotate(-330deg);
  }
  27%, 57%{
    transform:rotate(210deg)
              translate(-135px)
              rotate(-210deg);
  }
  60%, 90%{
    color: #8A8B90;
    font-size: 24px;
    font-weight: 500;
    transform:rotate(90deg)
              translate(-135px)
              rotate(-90deg);
  }
  65%, 85%{
    color: #4AAA5F;
    font-size: 40px;
    font-weight: 700;
    transform:rotate(90deg)
              translate(-135px)
              rotate(-90deg);
  }
  93%, 100%{
    transform:rotate(-30deg)
              translate(-135px)
              rotate(30deg);
  }
}

@keyframes circleText3 {
  0%, 19%{
    color: #4AAA5F;
    font-size: 40px;
    font-weight: 700;
    transform:rotate(90deg)
              translate(-135px)
              rotate(-90deg);
  }
  24%{
    color: #8A8B90;
    font-size: 24px;
    font-weight: 500;
    transform:rotate(90deg)
              translate(-135px)
              rotate(-90deg);
  }
  27%, 57%{
    transform:rotate(-30deg)
              translate(-135px)
              rotate(30deg);
  }
  60%, 90%{
    transform:rotate(-150deg)
              translate(-135px)
              rotate(150deg);
  }
  93%{
    color: #8A8B90;
    font-size: 24px;
    font-weight: 500;
    transform:rotate(-270deg)
              translate(-135px)
              rotate(270deg);
  }
  98%, 100%{
    color: #4AAA5F;
    font-size: 40px;
    font-weight: 700;
    transform:rotate(-270deg)
              translate(-135px)
              rotate(270deg);
  }
}

@keyframes circleText1 {
  0%, 24%{
    transform:rotate(210deg)
              translate(-135px)
              rotate(-210deg);
  }
  27%, 57%{
    color: #8A8B90;
    font-size: 24px;
    font-weight: 500;
    transform:rotate(90deg)
              translate(-135px)
              rotate(-90deg);
  }
  37%, 47%{
    color: #4AAA5F;
    font-size: 40px;
    font-weight: 700;
    transform:rotate(90deg)
              translate(-135px)
              rotate(-90deg);
  }
  60%, 90%{
    transform:rotate(-30deg)
              translate(-135px)
              rotate(30deg);
  }
  93%, 100%{
    transform:rotate(-150deg)
              translate(-135px)
              rotate(150deg);
  }
}

@keyframes textAngle2 {
  0%, 24%{
    transform:rotate(240deg);
  }
  27%, 57%{
    transform:rotate(120deg);
  }
  60%, 90%{
    transform:rotate(0deg);
  }
  93%, 100%{
    transform:rotate(-120deg);
  }
}

@keyframes textAngle3 {
  0%, 24%{
    transform:rotate(0deg);
  }
  27%, 57%{
    transform:rotate(-120deg);
  }
  60%, 90%{
    transform:rotate(-240deg);
  }
  93%, 100%{
    transform:rotate(-360deg);
  }
}

@keyframes textAngle1 {
  0%, 24%{
    transform:rotate(120deg);
  }
  27%, 57%{
    transform:rotate(0deg);
  }
  60%, 90%{
    transform:rotate(-120deg);
  }
  93%, 100%{
    transform:rotate(-240deg);
  }
}

@keyframes circleInnerText3 {
  0%, 24%{
    opacity:1;
  }
  27%, 57%{
    opacity:0;
  }
  60%, 90%{
    opacity:0;
  }
  93%, 100%{
    opacity:1;
  }
}

@keyframes circleInnerText1 {
  0%, 24%{
    opacity:0;
  }
  27%, 57%{
    opacity:1;
  }
  60%, 90%{
    opacity:0;
  }
  93%, 100%{
    opacity:0;
  }
}

@keyframes circleInnerText2 {
  0%, 24%{
    opacity:0;
  }
  27%, 57%{
    opacity:0;
  }
  60%, 90%{
    opacity:1;
  }
  93%, 100%{
    opacity:0;
  }
}

